:root {
  --color-primary: #2f80ed;
  --color-text: #333;
  --font-base: 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section.cards {
  font-family: var(--font-base);
  background-color: var(--color-primary);
}

