.container {
    margin-top: 160px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

body {
    max-width: 1280px;
    min-width: 1280px;
    max-height: 1986px;
    min-height: 1986px;
    opacity: 1;
}

.main {
    width: 1216;
    height: 1746;
    margin-top: 35px;
    margin-left: 32px;
    gap: 80px;
    opacity: 1;
}

.hero {
    margin-top: 40px;
}

.popularsection {
    margin-top: 48px;
}

.app-container {
    margin-top: 48px;
}

@media (min-width: 320px) {}

@media (min-width: 478px) {}

@media (min-width: 768px) {}

@media (min-width: 990px) {}

@media (min-width: 1280px) {}

@media (min-width: 1440px) {}